<div class="container u-mt-30 testimonials" id="testimonials">
    <div class="headline3-pri u-pb-30 center light-bg">PEOPLE SAY ABOUT ME</div>

    <section class="testimonial text-center">
        <div class="container">
            <div class="heading white-heading">
                Testimonial
            </div>
            <div id="testimonial4"
                class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x"
                data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000">

                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="testimonial4_slide">
                            <img src="../../../assets/images/Rita.jpg" class="img-circle img-responsive" />
                            <p>Hi, Chathurika, I want to say thank you for your perfect job you did!!! While I've been
                                working with you I was sure that my design will be implemented pixel perfect with the
                                best user friendly interaction. And I was so happy that you were always in touch,
                                communicated with me if there is any change needed in the design, you suggested the best
                                ways for development and usability. I wish that in future I'll work with the same
                                developers like you. You are a great colleague 😍🙌</p>
                            <h4>Margarita Goretska</h4>
                            <h5>UX/UI Designer</h5>
                            <h6>Blackswan Technologies</h6>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial4_slide">
                            <img src="../../../assets/images/testomonial-01.jfif" class="img-circle img-responsive" />
                            <p>Chathurika Wijekoon's UI development work on our freelancing project was truly excellent.
                                Her attention to detail and creative approach to problem-solving resulted in visually
                                stunning and user-friendly interfaces. I highly recommend her for any UI development
                                projects.
                            <h4>Isuru Lokuhelapitiya</h4>
                            <h5>Solution Architect</h5>
                            <h6>Delivergate (Pvt) Ltd</h6>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial4_slide">
                            <img src="../../../assets/images/pandula.jpg" class="img-circle img-responsive" />
                            <p>Working with Chathurika has been an absolute pleasure. As a UI/UX engineer, she
                                consistently brings creativity and a user-centric approach to every project. Her
                                attention to detail and collaborative nature make her an invaluable asset to any team. I
                                highly recommend Chathurika for her exceptional skills and dedication to delivering
                                top-notch UX development and design. </p>
                            <h4>Pandula Mandawala</h4>
                            <h5>Frontend Engineer</h5>
                            <h6>Blackswan Technologies</h6>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#testimonial4" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#testimonial4" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </section>

</div>