<div class="home-wrapper u-pt-50 u-pl-16 u-pr-16 body1">
    <div class="container u-pb-30">
        <div class="u-pb-20 center">
            <img src="../../../assets/images/tb-main-2.svg" alt="main-image" class="project-img">
        </div>
    </div>

    <div class="container u-pb-30">
        <!-- Overview Section -->
        <div>
            <div class="summery headline5 u-pt-30 u-pb-30">
                <div class="u-pr-50 center">Project Overview</div>
                <div class="vr center"></div>
                <div class="u-pl-50">
                    <ul>
                        <li class="u-p-10">About</li>
                        <li class="u-p-10">Duration</li>
                        <li class="u-p-10">The Problem</li>
                        <li class="u-p-10">The Goal</li>
                        <li class="u-p-10">My Role</li>
                        <li class="u-p-10">Responsibilities</li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="headline4-pri u-pt-60 u-pb-30">Project Overview</div>
                <div>
                    <div class="u-pb-20">
                        <div class="headline5-pri u-pb-20">About</div>
                        <div class="headline6 u-pb-20">
                            "TalentBase" is an intuitive job search platform designed to connect job seekers with
                            employers efficiently, featuring advanced filtering, personalized recommendations and
                            real-time notifications for a seamless job hunting experience.
                        </div>
                    </div>
                    <div class="u-pb-20">
                        <div class="headline5-pri u-pb-20">Duration</div>
                        <div class="headline6 u-pb-20">
                            06 Months
                        </div>
                    </div>
                    <div class="u-pb-20">
                        <div class="headline5-pri u-pb-20">The Problem</div>
                        <div class="headline6 u-pb-20">
                            Job seekers often struggle to find relevant job opportunities due to the lack of efficient
                            filtering options, personalized recommendations and real-time updates, leading to a
                            time-consuming and frustating job hunting experience.
                        </div>
                    </div>
                    <div class="u-pb-20">
                        <div class="headline5-pri u-pb-20">The Goal</div>
                        <div class="headline6 u-pb-20">
                            The goal of 'TalentBase' is to streamline the job search process by providing an intuitive
                            platform with advanced filtering options, personalized recommendations and real-time
                            notifications, ensuring a seamless and efficient connection between job seekers and
                            employers.
                        </div>
                    </div>
                    <div class="u-pb-20">
                        <div class="headline5-pri u-pb-20">My Role</div>
                        <div class="headline6 u-pb-20">
                            Lead UI/UX Engineer (Figma Designing and UI/UX Frontend Development)
                        </div>
                    </div>
                    <div class="u-pb-20">
                        <div class="headline5-pri u-pb-20">Responsibilities</div>
                        <div class="headline6 u-pb-20">
                            <div class="u-pl-50">
                                <ul>
                                    <li class="u-p-10">User Research & Analysis</li>
                                    <li class="u-p-10">Wireframing and Prototyping</li>
                                    <li class="u-p-10">User Interface Design</li>
                                    <li class="u-p-10">User Experience Strategy</li>
                                    <li class="u-p-10">Design System Development</li>
                                    <li class="u-p-10">Collaboration with Development Team</li>
                                    <li class="u-p-10">Develop UI/UX Features for Frontend Project</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <!-- 'Understanding the User' section  -->
        <div>
            <div class="summery headline5 u-pt-30 u-pb-30">
                <div class="u-pr-50 center">Understanding the User</div>
                <div class="vr center"></div>
                <div class="u-pl-50">
                    <ul>
                        <li class="u-p-10">User Research</li>
                        <li class="u-p-10">Personas</li>
                        <li class="u-p-10">Problem Statements</li>
                        <li class="u-p-10">User Journey Maps</li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="headline4-pri u-pt-60 u-pb-30">Understanding the User</div>
                <div>
                    <div class="u-pb-20">
                        <div class="headline5-pri u-pb-20">User Research - Summery</div>
                        <div class="headline6 u-pb-20">
                            For the “TalentBase” project, we conducted a comprehensive user research study involving
                            both qualitative and quantitative methods. Initially, we conducted online surveys and
                            in-depth interviews with job seekers and employers to gather insights into their needs,
                            behaviors, and pain points. We also analyzed existing job portals to identify common
                            usability issues and opportunities for improvement. Our initial assumption was that job
                            seekers primarily struggled with finding relevant job postings quickly, while employers
                            faced challenges in managing a high volume of applications. However, our research revealed
                            that job seekers also highly value personalized job recommendations and real-time
                            notifications, while employers prioritized tools for efficient candidate filtering and
                            communication. These insights significantly shaped our design strategy, leading us to focus
                            on creating a more personalized, efficient, and user-friendly job search and recruitment
                            experience.
                        </div>
                    </div>
                    <div class="u-pb-20">
                        <div class="headline5-pri u-pb-20">User Research - Pain Points</div>
                        <div class="headline6 u-pb-20">
                            <div class="u-pl-50">
                                <ul>
                                    <li class="u-p-10">Difficulty in Finding Relevant Jobs
                                    </li>
                                    <li class="u-p-10">Lack of Personalized Recommendations
                                    </li>
                                    <li class="u-p-10">Inefficient Application Tracking
                                    </li>
                                    <li class="u-p-10">Employer Recruitment Challenges
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="u-pb-20">
                        <div class="headline5-pri u-pb-20">Personas</div>
                        <div class="u-pb-20">
                            <img src="../../../assets/images/persona.png" alt="User Persona" class="project-img">
                        </div>
                    </div>
                    <div class="u-pb-20">
                        <div class="headline5-pri u-pb-20">Problem Statements</div>
                        <div class="u-pb-20">
                            <img src="../../../assets/images/problem-statement.png" alt="Problem Statements"
                                class="project-img">
                        </div>
                    </div>
                    <div class="u-pb-20">
                        <div class="headline5-pri u-pb-20">User Journey Maps</div>
                        <div class="u-pb-20">
                            <img src="../../../assets/images/user-journey-map.png" alt="User Journey Maps"
                                class="project-img">
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <!-- 'Starting the Design' section  -->
        <div>
            <div class="summery headline5 u-pt-30 u-pb-30">
                <div class="u-pr-50 center">Starting the Design</div>
                <div class="vr center"></div>
                <div class="u-pl-50">
                    <ul>
                        <li class="u-p-10">Sitemap</li>
                        <li class="u-p-10">Paper Wireframes</li>
                        <li class="u-p-10">Digital Wireframes</li>
                        <li class="u-p-10">Low-Fidelity Prototype</li>
                        <li class="u-p-10">Usability Studies</li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="headline4-pri u-pt-60 u-pb-30">Starting the Design</div>
                <div>
                    <div class="u-pb-20">
                        <div class="headline5-pri u-pb-20">Information Architecture (Sitemap)</div>
                        <div class="headline6 u-pb-20">
                            Difficulty with website navigation was a primary pain point for users, so I used that
                            knowledge to create a sitemap. 
                        </div>
                        <div class="headline6">
                            My goal here was to make strategic information architecture decisions that would improve
                            overall website navigation. The structure I chose was designed to make things simple and
                            easy. 
                        </div>
                    </div>
                    <div class="u-pb-20">
                        <img src="../../../assets/images/sitemap.png" alt="Sitemap" class="project-img">
                    </div>
                </div>
                <div>
                    <div class="u-pb-20">
                        <div class="headline5-pri u-pb-20">Paper Wireframes</div>
                        <div class="headline6 u-pb-20">
                            Next, I sketched out paper wireframes for each screen in my app, keeping the user pain
                            points about navigation, browsing, and ‘apply for a job’ flow in mind.
                        </div>
                        <div class="headline6">
                            The home screen paper wireframe variations to the right focus on optimizing the browsing
                            experience for users.
                        </div>
                    </div>
                    <div class="u-pb-20">
                        <img src="../../../assets/images/paper-wireframes.png" alt="Paper Wireframes"
                            class="project-img">
                    </div>
                </div>
                <div>
                    <div class="u-pb-20">
                        <div class="headline5-pri u-pb-20">Paper Wireframe Screen Size Variations</div>
                        <div class="headline6 u-pb-20">
                            Because job seekers access the site on a variety of different devices, I started to work on
                            designs for additional screen sizes to make sure the site would be fully responsive. 
                        </div>
                    </div>
                    <div class="u-pb-20">
                        <div class="headline5 u-pb-20">Goals:</div>
                        <div class="headline6 u-pb-20">
                            <div class="u-pl-50">
                                <ul>
                                    <li class="u-p-10">Consistency
                                    </li>
                                    <li class="u-p-10">Accessibility
                                    </li>
                                    <li class="u-p-10">Responsiveness
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="u-pb-20">
                        <div class="headline5 u-pb-20">Thought Process:</div>
                        <div class="headline6 u-pb-20">
                            <div class="u-pl-50">
                                <ul>
                                    <li class="u-p-10">Mobile First
                                    </li>
                                    <li class="u-p-10">Adaptive Layouts
                                    </li>
                                    <li class="u-p-10">Simplified Navigation
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="u-pb-20">
                        <img src="../../../assets/images/screen-variations.png" alt="User Persona" class="project-img">
                    </div>
                </div>
                <div>
                    <div class="u-pb-20">
                        <div class="headline5-pri u-pb-20">Digital Wireframes</div>
                        <div class="headline6 u-pb-20">
                            Moving from paper to digital wireframes made it easy to understand how the redesign could
                            help address user pain points and improve the user experience.  
                        </div>
                        <div class="headline6 u-pb-20">
                            Prioritizing useful button locations and visual element placement on the home page was a key
                            part of my strategy.
                        </div>
                    </div>
                    <div class="u-pb-20">
                        <img src="../../../assets/images/digital-wireframes.png" alt="digital wireframes"
                            class="project-img">
                    </div>
                </div>
                <div>
                    <div class="u-pb-20">
                        <div class="headline5-pri u-pb-20">Digital Wireframe Screen Size Variations</div>
                    </div>
                    <div class="u-pb-20">
                        <img src="../../../assets/images/landing-page-web.jpg" alt="landing page web"
                            class="project-img">
                    </div>
                    <div class="u-pb-20 center">
                        <img src="../../../assets/images/landing-page-wireframe-mobile.png" alt="landing page mobile"
                            class="project-img">
                    </div>
                </div>
            </div>
        </div>

        <!-- Usability Study -->
        <div>
            <div class="summery headline5 u-pt-30 u-pb-30">
                <div class="u-pr-50 center">Usability Study</div>
                <div class="vr center"></div>
                <div class="u-pl-50">
                    <ul>
                        <li class="u-p-10">Parameters</li>
                        <li class="u-p-10">Findings</li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="headline4-pri u-pt-60 u-pb-30">Usability Study: Parameters</div>
                <div>
                    <div class="u-pb-20">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-3 mb-3">
                                    <div class="box">
                                        <i class="fas fa-graduation-cap icon"></i>
                                        <h3 class="title">Study Type</h3>
                                        <p class="subtitle">Unmoderated Usability Study</p>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3 mb-3">
                                    <div class="box">
                                        <i class="fas fa-map-marker-alt icon"></i>
                                        <h3 class="title">Location</h3>
                                        <p class="subtitle">Sri Lanka, Remote</p>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3 mb-3">
                                    <div class="box">
                                        <i class="fas fa-user-circle icon"></i>
                                        <h3 class="title">Participants</h3>
                                        <p class="subtitle">5 Participants</p>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3 mb-3">
                                    <div class="box">
                                        <i class="fas fa-clock icon"></i>
                                        <h3 class="title">Length</h3>
                                        <p class="subtitle">20-30 Minutes</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="headline4-pri u-pt-60 u-pb-30">Usability Study: Findings</div>
                <div>
                    <div class="u-pb-20">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-4 mb-4">
                                    <div class="box">
                                        <i class="fas fa-search icon"></i>
                                        <h3 class="title">Search</h3>
                                        <p class="subtitle">Users weren't able to search by specific area</p>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 mb-4">
                                    <div class="box">
                                        <i class="fas fa-briefcase icon"></i>
                                        <h3 class="title">Job Cards</h3>
                                        <p class="subtitle">Users prefer both list view & grid view options to view job
                                            cards</p>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 mb-4">
                                    <div class="box">
                                        <i class="fas fa-book icon"></i>
                                        <h3 class="title">Courses</h3>
                                        <p class="subtitle">Users weren't able to get proper suggestions for courses to
                                            improve their relevant skills</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- 'Refining the Design' section  -->
        <div>
            <div class="summery headline5 u-pt-30 u-pb-30">
                <div class="u-pr-50 center">Refining the Design</div>
                <div class="vr center"></div>
                <div class="u-pl-50">
                    <ul>
                        <li class="u-p-10">Mockups</li>
                        <li class="u-p-10">High-Fidelity (Hi-Fi) Prototype</li>
                        <li class="u-p-10">Accessibility</li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="headline4-pri u-pt-60 u-pb-30">Refining the Design</div>
                <div>
                    <div class="u-pb-20">
                        <div class="headline5-pri u-pb-20">Mockups</div>
                        <div class="headline6 u-pb-20">
                            Based on the insights from the usability study, I made changes to improve the job search.
                            One of the changes I made was adding the advanced filter option to search jobs. This allowed
                            users more freedom to search relevant jobs without going through a long list of irrelevant
                            jobs.
                        </div>
                    </div>
                    <div class="u-pb-20">
                        <img src="../../../assets/images/mockups-1.png" alt="Sitemap" class="project-img">
                    </div>
                </div>
                <div>
                    <div class="headline6 u-pb-20">
                        To view job listings and courses easier, I added ‘List View’ & ‘Grid View’ options to job
                        listings page and courses page.
                    </div>
                    <div class="u-pb-20">
                        <img src="../../../assets/images/mockups-2.png" alt="Sitemap" class="project-img ">
                    </div>
                </div>
                <div>
                    <div class="headline5-pri u-pb-20">Mockups - Original Screen Size</div>
                    <div class="u-pb-20 center">
                        <img src="../../../assets/images/mockups-3.png" alt="Sitemap" class="project-img">
                    </div>
                </div>
                <div>
                    <div class="headline5-pri u-pb-20">Mockups - Screen Size Variations</div>
                    <div class="headline6 u-pb-20">
                        I included considerations for additional screen sizes in my mockups based on my earlier
                        wireframes. Because users search jobs from a variety of devices, I felt it was important to
                        optimize the browsing experience for a range of device sizes, such as mobile and tablet so users
                        have the smoothest experience possible. 
                    </div>
                    <div class="u-pb-20">
                        <img src="../../../assets/images/mockups-original-web.png" alt="Sitemap" class="project-img">
                    </div>
                    <div class="u-pb-20 center">
                        <img src="../../../assets/images/mockups-original-mobile.png" alt="Sitemap" class="project-img">
                    </div>
                </div>
                <div>
                    <div class="u-pb-20">
                        <div class="headline5-pri u-pb-20">High-Fidelity (Hi-Fi) Prototype</div>
                        <div class="headline6 u-pb-20">
                            My hi-fi prototype followed the same user flow as the lo-fi prototype, and included the
                            design changes made after the usability study, as well as several changes suggested by
                            members of my team.
                        </div>
                    </div>
                    <div class="u-pb-20 center">
                        <img src="../../../assets/images/hi-fi-prototype.png" alt="hi-fi-prototype" class="project-img">
                    </div>
                </div>
                <div>
                    <div class="headline4-pri u-pt-60 u-pb-30">Accessibility Considerations</div>
                    <div>
                        <div class="u-pb-20">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                                        <div class="box">
                                            <i class="fas fa-heading icon"></i>
                                            <h3 class="title">Headings</h3>
                                            <p class="subtitle">I used headings with different sized text for clear
                                                visual hierarchy
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                                        <div class="box">
                                            <i class="fas fa-landmark icon"></i>
                                            <h3 class="title">Landmarks</h3>
                                            <p class="subtitle">I used landmarks to help users navigate the site,
                                                including users who rely on assistive technologies
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                                        <div class="box">
                                            <i class="fas fa-adjust icon"></i>
                                            <h3 class="title">Contrast Ratio</h3>
                                            <p class="subtitle">I designed the site with maintaining contrast ratio
                                                between text, background and images
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 'Going Forward' Section  -->
        <div>
            <div class="summery headline5 u-pt-30 u-pb-30">
                <div class="u-pr-50 center">Going Forward</div>
                <div class="vr center"></div>
                <div class="u-pl-50">
                    <ul>
                        <li class="u-p-10">Takeaways</li>
                        <li class="u-p-10">Next Steps</li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="headline4-pri u-pt-60 u-pb-30">Takeaways</div>
                <div>
                    <div class="u-pb-20">
                        <div class="headline5-pri u-pb-20">Impact:</div>
                        <div class="headline6 u-pb-20">
                            Our target users shared that the design was intuitive to navigate through, more engaging
                            with the images, and demonstrated a clear visual hierarchy.
                        </div>
                    </div>
                </div>
                <div>
                    <div class="u-pb-20">
                        <div class="headline5-pri u-pb-20">What I learned:</div>
                        <div class="headline6 u-pb-20">
                            I learned that even a small design change can have a huge impact on the user experience. The
                            most important takeaway for me is to always focus on the real needs of the user when coming
                            up with design ideas and solutions.
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="headline4-pri u-pt-60 u-pb-30">Next Steps</div>
                <div>
                    <div class="u-pb-20">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-4 mb-4">
                                    <div class="box">
                                        <i class="fas fa-clipboard-check icon"></i>
                                        <h3 class="title">Usability Testing</h3>
                                        <p class="subtitle">Conduct follow-up usability testing on the new website
                                        </p>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 mb-4">
                                    <div class="box">
                                        <i class="fas fa-lightbulb icon"></i>
                                        <h3 class="title">New Features</h3>
                                        <p class="subtitle">Identify any additional areas of need and ideate on new
                                            features
                                        </p>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 mb-4">
                                    <div class="box">
                                        <i class="fas fa-universal-access icon"></i>
                                        <h3 class="title">Accessibility</h3>
                                        <p class="subtitle">Test the site with differently abled people and improve
                                            accessibility features
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Let's Connect -->
        <div class="u-pt-30 u-pb-30">
            <div class="summery headline5 u-pt-30 u-pb-30">
                <div class="headline4 u-pr-50 center">Let's Connect</div>
                <div class="vr center"></div>
                <div class="u-pl-50">
                    <ul>
                        <li class="u-p-10">
                            <div>Email:</div>
                            <div class="headline6">
                                <a href="mailto:chathuswijekoonuom@gmail.com"
                                    class="link-text">chathuswijekoonuom@gmail.com</a>
                            </div>
                        </li>
                        <li class="u-p-10">
                            <div>Website:</div>
                            <div class="headline6">
                                <a href="https://chathu-uiux.com/" class="link-text"
                                    target="_blank">https://chathu-uiux.com/</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>