<div class="home-wrapper u-pt-30 body1">

    <div class="container u-pb-30">
        <div class="row">
            <div class="col center">
                <img class="profile-pic" src="../.././../assets/images/profile.jpg">
            </div>
            <div class="col u-p-32">
                <div class="headline3-pri">Hello !</div>
                <div class="headline4-pri u-pt-30 u-pl-50">I'm Chathurika Wijekoon</div>
                <div class="headline2-pri u-pt-30 u-pl-50 u-pb-20">UI/UX Engineer</div>
                <div class="u-pt-30 u-pl-50">
                    <span class="contact-btn contact-btn--primary" (click)="downloadMyFile()">
                        <span class="contact-btn__text">HIRE ME !</span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar  -->
    <app-nav-bar></app-nav-bar>

    <!-- Skills  -->
    <app-skills></app-skills>

    <!-- Services  -->
    <app-services></app-services>

    <!-- My Journey  -->
    <app-timeline></app-timeline>

    <!-- Testimonials  -->
    <app-testomonials></app-testomonials>

    <!-- Projects  -->
    <app-projects></app-projects>

    <!-- Contact  -->
    <app-contact></app-contact>

    <!-- Footer  -->
    <app-footer></app-footer>
</div>