<div class="container u-mt-80 projects" id="projects">
    <div class="headline3-pri u-pb-30  u-mb-30 center">DISCOVER HOW I WORK</div>

    <div class="row u-pb-40 u-pt-40">
        <div class="col-sm-6 d-flex">
            <img src="../../../assets/images/project-01.png" alt="style-guide" class="project-img">
        </div>
        <div class="col-sm-6 v-center">
            <div>
                <div class="u-mb-20">
                    <div class="headline6-pri u-mb-10">PROJECT CATEGORY</div>
                    <div class="headline5">Style Guide</div>
                </div>
                <div class="u-mb-30">
                    <div class="headline6-pri">SHORT DESCRIPTION</div>
                    <div class="subtitle1 u-mt-10 u-mb-10">Created to help frontend developers build high-quality
                        digital
                        experiences for web applications. It includes a style guide and a collection of reusable
                        components,
                        guided by clear standards of
                        Google Material Design, that can be assembled together to build any number of applications.
                    </div>
                    <div class="subtitle1">A style guide contains information about how things should be done
                        consistently
                        across a product or website. It is the guidance for customizing UI features (such as colors,
                        typography styles, corner shapes, etc.) according to W3C standards.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row u-pb-40 u-pt-40">
        <div class="col-sm-6">
            <div class="u-mb-20">
                <div class="headline6-pri u-mb-10">PROJECT CATEGORY</div>
                <div class="headline5">SCSS Architecture</div>
            </div>
            <div class="u-mb-30">
                <div class="headline6-pri">SHORT DESCRIPTION</div>
                <div class="subtitle1 u-mt-10 u-mb-10">SCSS File Architecture [ITCSS]</div>
                <div>
                    <div class="headline6">Layers:</div>
                    <ul class="subtitle1 u-pt-10 u-pl-15">
                        <li>SETTINGS</li>
                        <li>TOOLS</li>
                        <li>GENERIC</li>
                        <li>ELEMENTS</li>
                        <li>OBJECTS</li>
                        <li>COMPONENTS</li>
                        <li>UTILITIES</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6 d-flex">
            <img src="../../../assets/images/scss-arc.png" alt="style-guide" class="project-img project-img--scss">
        </div>
    </div>

    <div class="row u-pb-40 u-pt-40">
        <div class="col-sm-6 d-flex">
            <img src="../../../assets/images/qr.png" alt="style-guide" class="project-img">
        </div>
        <div class="col-sm-6">
            <div class="u-mb-20">
                <div class="headline6-pri u-mb-10">PROJECT CATEGORY</div>
                <div class="headline5">QR Dispatch System</div>
            </div>
            <div class="u-mb-30">
                <div class="headline6-pri">SHORT DESCRIPTION</div>
                <div class="subtitle1 u-mt-10 u-mb-10">File Management System designed and developed for Colombo
                    Municipal Council - SL. </div>
            </div>
        </div>
    </div>

    <div class="row u-pb-40 u-pt-40">
        <div class="col-sm-6">
            <div class="u-mb-20">
                <div class="headline6-pri u-mb-10">PROJECT CATEGORY</div>
                <div class="headline5">Cafe & Reataurants</div>
            </div>
            <div class="u-mb-30">
                <div class="headline6-pri">SHORT DESCRIPTION</div>
                <div class="subtitle1 u-mt-10 u-mb-10">Cafe Bliss</div>
                <div>
                    Created an attactive web site for 'Cafe Bliss' with all the requested features.
                </div>
            </div>
        </div>
        <div class="col-sm-6 d-flex">
            <img src="../../../assets/images/cafe.png" alt="style-guide" class="project-img project-img--scss">
        </div>
    </div>

    <div class="row u-pb-40 u-pt-40">
        <div class="col-sm-6 d-flex">
            <img src="../../../assets/images/expertential.png" alt="style-guide" class="project-img">
        </div>
        <div class="col-sm-6">
            <div class="u-mb-20">
                <div class="headline6-pri u-mb-10">PROJECT CATEGORY</div>
                <div class="headline5">Project Management System</div>
            </div>
            <div class="u-mb-30">
                <div class="headline6-pri">SHORT DESCRIPTION</div>
                <div class="subtitle1 u-mt-10 u-mb-10">Created for 'accounting firms' to oraganize and manage their work
                    properly. Can be used by any other organization who has a wish for a perfect management system
                    (Company Project).</div>
            </div>
        </div>
    </div>

    <div class="row u-pb-40 u-pt-40">
        <div class="col-sm-6">
            <div class="u-mb-20">
                <div class="headline6-pri u-mb-10">PROJECT CATEGORY</div>
                <div class="headline5">COINVISTA</div>
            </div>
            <div class="u-mb-30">
                <div class="headline6-pri">SHORT DESCRIPTION</div>
                <div class="subtitle1 u-mt-10 u-mb-10">Cafe Bliss</div>
                <div>
                    COINVISTA the complete Multi-Exchange Cryptocurrency Terminal to organize customer Info, Research &
                    Trading.
                </div>
            </div>
        </div>
        <div class="col-sm-6 d-flex">
            <img src="../../../assets/images/coinvista-02.png" alt="style-guide" class="project-img project-img--scss">
        </div>
    </div>

    <div class="row u-pb-40 u-pt-40">
        <div class="col-sm-6 d-flex">
            <img src="../../../assets/images/invoice.png" alt="style-guide" class="project-img">
        </div>
        <div class="col-sm-6">
            <div class="u-mb-20">
                <div class="headline6-pri u-mb-10">PROJECT CATEGORY</div>
                <div class="headline5">Invoice Creation System</div>
            </div>
            <div class="u-mb-30">
                <div class="headline6-pri">SHORT DESCRIPTION</div>
                <div class="subtitle1 u-mt-10 u-mb-10">Users can create invoices, view and download them as PDF files;
                    and they can switch between two themes (light and dark) according to their preferences.</div>
            </div>
        </div>
    </div>

    <div class="row u-pb-40 u-pt-40">
        <div class="col-sm-6">
            <div class="u-mb-20">
                <div class="headline6-pri u-mb-10">PROJECT CATEGORY</div>
                <div class="headline5">Special</div>
            </div>
            <div class="u-mb-30">
                <div class="headline6-pri">SHORT DESCRIPTION</div>
                <div class="subtitle1 u-mt-10 u-mb-10"> This slot is allocated for your project!</div>
            </div>
        </div>
        <div class="col-sm-6 d-flex">
            <img src="../../../assets/images/girl_01.png" alt="style-guide" class="project-img project-img--scss">
        </div>
    </div>
</div>