<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top headline6">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item pointer">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item pointer">
                    <a class="nav-link" (click)="navigateToSection('skills')">Expertise</a>
                </li>
                <li class="nav-item pointer">
                    <a class="nav-link" (click)="navigateToSection('services')">Services</a>
                </li>
                <li class="nav-item pointer">
                    <a class="nav-link" (click)="navigateToSection('timeline')">Experience</a>
                </li>
                <li class="nav-item pointer">
                    <a class="nav-link" (click)="navigateToSection('testimonials')">Testimonials</a>
                </li>
                <li class="nav-item pointer">
                    <a class="nav-link" (click)="navigateToSection('projects')">Projects</a>
                </li>
                <li class="nav-item pointer">
                    <a class="nav-link" (click)="navigateToSection('contact')">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>