<div class="container u-mt-30" id="services">
    <div class="headline3-pri u-pb-30 center">SERVICES</div>
    <div class="row">
        <div class="col-sm-4 d-flex">
            <div class="service-card">
                <h3>UI Architecture</h3>
                <p>Design and organization of the software components that make up the user interface of an
                    application.
                    It encompasses the overall structure, patterns, and principles that govern how the user
                    interface is designed, developed, and maintained.</p>
            </div>
        </div>
        <div class="col-sm-4 d-flex">
            <div class="service-card">
                <h3>UI Development</h3>
                <p> Process of transforming a visual design, typically created in design tools like Figma, into
                    functional user interfaces using HTML5, CSS3, SCSS, JavaScript, and any front-end frameworks
                    like Angular, React, Vue.
                </p>
            </div>
        </div>
        <div class="col-sm-4 d-flex">
            <div class="service-card">
                <h3>UI Code Review</h3>
                <p>Process of evaluating the code written for the user interface (UI) of a software application to
                    ensure its quality, adherence to best practices, and alignment with the established coding
                    standards and guidelines. </p>
                <p>Primary Goals: Code Quality, Performance and Efficiency, Cross-Browser Compatibility,
                    Accessibility, Consistency, Security
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 d-flex">
            <div class="service-card">
                <h3>UI Design Review</h3>
                <p>Process of evaluating the visual design and user interface (UI) of a software application to
                    ensure its effectiveness, usability, and alignment with design principles and user experience
                    (UX) guidelines. It involves reviewing the design elements, layout, navigation, interactions,
                    and overall aesthetics of the UI and ensuring the technical feasibility of UI/UX designs</p>
            </div>
        </div>
        <div class="col-sm-4 d-flex">
            <div class="service-card">
                <h3>UI Design</h3>
                <p>
                    UI Design, powered by tools like Figma, is about creating visually appealing and user-friendly
                    interfaces for digital products by following a set of guidelines to ensure consistency and
                    usability.The goal is to craft interfaces that not only look great but also provide an
                    out-standable
                    user experience.</p>
            </div>
        </div>
        <div class="col-sm-4 d-flex">
            <div class="service-card">
                <h3>UX Research</h3>
                <p>Process of studying and understanding users' behaviors, needs, and motivations in order to inform
                    and enhance the design of a product or service. It involves gathering qualitative and
                    quantitative data through various research methods to gain insights into user preferences, pain
                    points, and interactions.</p>
                <p>Primary Goals: User Understanding, User Behavior Analysis, User Needs Identification, Usability
                    Evaluation, Iterative Design, Stakeholder Alignment
                </p>
            </div>
        </div>
    </div>
</div>