<div class="container u-mt-30" id="timeline" #timeline>
    <div class="headline3-pri u-pb-20 u-pt-30 center">MY JOURNEY</div>
    <section class="journey">
        <div class="container py-5">
            <div class="main-timeline-2">
                <div class="timeline-2 left-2">
                    <div class="card service-card">
                        <div class="card-body p-4">
                            <span class="year-wrap headline5-pri">2013</span>
                            <h3 class="u-mt-20 headline5">Undergraduate</h3>
                            <img class="company-logo" src="../../../assets/images/uni-logo.png" alt="UOM">
                            <h5 class="subtitle1">University of Moratuwa - Faculty of IT</h5>
                        </div>
                    </div>
                </div>
                <div class="timeline-2 right-2">
                    <div class="card service-card">
                        <div class="card-body p-4">
                            <span class="year-wrap headline5-pri">2016</span>
                            <h3 class="u-mt-20 headline5">Frontend Engineer (Intern)</h3>
                            <img class="company-logo" src="../../../assets/images/dms.jfif" alt="UOM">
                            <h5 class="subtitle1">DMS - Software Division</h5>
                        </div>
                    </div>
                </div>
                <div class="timeline-2 left-2">
                    <div class="card service-card">
                        <div class="card-body p-4">
                            <span class="year-wrap headline5-pri">2017</span>
                            <h3 class="u-mt-20 headline5">Graduated</h3>
                            <img class="company-logo" src="../../../assets/images/uni-logo.png" alt="UOM">
                            <h5 class="subtitle1">University of Moratuwa - Faculty of IT</h5>
                        </div>
                    </div>
                </div>
                <div class="timeline-2 right-2">
                    <div class="card service-card">
                        <div class="card-body p-4">
                            <span class="year-wrap headline5-pri">2017 - 2021</span>
                            <h3 class="u-mt-20 headline5">UI Engineer</h3>
                            <img class="company-logo" src="../../../assets/images/RNS-logo.jfif" alt="UOM">
                            <h5 class="subtitle1">RN Solutions</h5>
                        </div>
                    </div>
                </div>
                <div class="timeline-2 left-2">
                    <div class="card service-card">
                        <div class="card-body p-4">
                            <span class="year-wrap headline5-pri">2021 - Present</span>
                            <h3 class="u-mt-20 headline5">UI/UX Engineer</h3>
                            <img class="company-logo" src="../../../assets/images/BST-logo.png" alt="UOM">
                            <h5 class="subtitle1">BlackSwan Technologies</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>