<div class="container u-pb-30 u-pt-50" id="skills">
    <div class="headline3-pri u-pb-30 center">SKILLS</div>
    <div class="custom-card">
        <span class="d-inline-block chip subtitle1">HTML5</span>
        <span class="d-inline-block chip subtitle1">CSS3</span>
        <span class="d-inline-block chip subtitle1">SCSS</span>
        <span class="d-inline-block chip subtitle1">Bootstrap</span>
        <span class="d-inline-block chip subtitle1">JavaScript</span>
        <span class="d-inline-block chip subtitle1">jQuery</span>
        <span class="d-inline-block chip subtitle1">TypeScript</span>
        <span class="d-inline-block chip subtitle1">Angular</span>
        <span class="d-inline-block chip subtitle1">Angular Material</span>
        <span class="d-inline-block chip subtitle1">AG-Grid</span>
        <span class="d-inline-block chip subtitle1">PrimeNG</span>
        <span class="d-inline-block chip subtitle1">Tailwind CSS</span>
        <span class="d-inline-block chip subtitle1">GIT</span>
        <span class="d-inline-block chip subtitle1">JIRA</span>
        <span class="d-inline-block chip subtitle1">Confluence</span>
        <span class="d-inline-block chip subtitle1">Gulp</span>
        <span class="d-inline-block chip subtitle1">NPM</span>
        <span class="d-inline-block chip subtitle1">Responsive Web Design (RWD)</span>
        <span class="d-inline-block chip subtitle1">Agile</span>
        <span class="d-inline-block chip subtitle1">Scrum</span>
        <span class="d-inline-block chip subtitle1">W3C</span>
        <span class="d-inline-block chip subtitle1">Accessibility</span>
        <span class="d-inline-block chip subtitle1">ITCSS Architecture</span>
        <span class="d-inline-block chip subtitle1">BEM Methodology</span>
        <span class="d-inline-block chip subtitle1">Figma</span>
    </div>

    <div class="subtitle1 u-pt-30 u-pl-50">
        <ul>
            <li class="subtitle1">Professional UI/UX coding and implementation experience for enterprise-level
                applications.</li>
            <li class="subtitle1">Specialize in professional Figma design, combining creativity and functionality to
                deliver impactful user experiences.</li>
            <li class="subtitle1">Perform technical and design reviews with other team members to
                ensure quality.</li>
            <li class="subtitle1">In-depth familiarity with HTML5's best practices.</li>
            <li class="subtitle1">Knowledge of HTML5, CSS3, Web Architecture, and other W3C core web standards.
            </li>
            <li class="subtitle1">Experienced in developing responsive UI's.</li>
            <li class="subtitle1">Experienced in developing enterprise web applications.</li>
            <li class="subtitle1">7+ years of software development experience.</li>
            <li class="subtitle1">7+ years of experience with HTML5, CSS3, SCSS, JavaScript, jQuery, Bootstrap.
            </li>
            <li class="subtitle1">5+ years of experience with common front-end technologies, such as Angular,
                Webpack, Gulp, etc.</li>
            <li class="subtitle1">3+ years of experience with Angular Material.</li>
            <li class="subtitle1">Knowledge of JavaScript MV-VM/MVC frameworks.</li>
            <li class="subtitle1">Experience with the Agile development process.</li>
            <li class="subtitle1">Experience with feature management tools.</li>
            <li class="subtitle1">Knowledge of Micro Frontend architecture implementation.</li>
            <li class="subtitle1">Excellent communication skills.</li>
            <li class="subtitle1">Critical thinker and good problem-solver.</li>
        </ul>
    </div>
</div>