@import './assets/scss/init.scss';

:host {
  font-family            : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size              : 14px;
  color                  : #333;
  box-sizing             : border-box;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  scroll-behavior: smooth !important;
}

body {
  color     : $text-on-surface;
  background: $backGround-light;
}

.pointer {
  cursor: pointer;
}

// Media Quaries

@media screen and (max-width: 767px) {

  .headline2-pri,
  .headline2 {
    font-size: 36px !important;
  }

  .headline3-pri,
  .headline3 {
    font-size: 30px !important;
  }

  .headline4-pri,
  .headline4 {
    font-size: 21px !important;
  }

  .headline5-pri,
  .headline5 {
    font-size: 11px !important;
  }

  .testimonial {
    .carousel-item {
      p {
        font-size: 14px !important;
      }

      h4 {
        font-size: 16px !important;
      }

      h6 {
        font-size: 14px !important;
      }
    }
  }

  .projects {
    .headline5 {
      font-size: 16px !important;
    }
  }
}

// Favicon style 
link[rel="icon"] {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #000; /* You can set this to match your website's background color */
}

/* Hide the default browser favicon placeholder */
link[rel="icon"] {
  display: none;
}







